/.vs/pdb2mdb/v16/.suo
/pdb2mdb/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/pdb2mdb/obj/Release/pdb2mdb.MetadataHelper.ErrorMessages.resources
/pdb2mdb/obj/Release/pdb2mdb.PEReader.PeReaderErrorMessages.resources
/pdb2mdb/obj/Release/pdb2mdb.Properties.Resources.resources
/pdb2mdb/obj/Release/pdb2mdb.csproj.CopyComplete
/pdb2mdb/obj/Release/pdb2mdb.csproj.CoreCompileInputs.cache
/pdb2mdb/obj/Release/pdb2mdb.csproj.FileListAbsolute.txt
/pdb2mdb/obj/Release/pdb2mdb.csproj.GenerateResource.cache
/pdb2mdb/obj/Release/pdb2mdb.exe
/pdb2mdb/obj/Release/pdb2mdb.pdb
